#################################################
# Git
#################################################
.git
.gitignore

#################################################
# Python Cache
#################################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

#################################################
# Virtual Environments
#################################################
venv/
.venv/
env/

#################################################
# IDE Files
#################################################
.vscode/
.idea/

#################################################
# Logs
#################################################
*.log
logs/

#################################################
# Test Reports
#################################################
.pytest_cache/
.coverage
coverage.xml
htmlcov/

#################################################
# SonarQube
#################################################
.scannerwork/

#################################################
# Trivy Reports
#################################################
trivy-report.*
*.sarif

#################################################
# Documentation
#################################################
README.md
docs/
screenshots/

#################################################
# Jenkins
#################################################
Jenkinsfile*
jenkinsfile*

#################################################
# Docker Compose
#################################################
docker-compose.yml
docker-compose.override.yml

#################################################
# DockerFile
#################################################
Dockerfile

#################################################
# Environment Files
#################################################
.env
.env.*

#################################################
# AWS Credentials
#################################################
.aws/

#################################################
# Temporary Files
#################################################
tmp/
temp/
*.tmp

#################################################
# Operating System Files
#################################################
.DS_Store
Thumbs.db

#################################################
# Backup Files
#################################################
*.bak
*.old